/* stylelint-disable */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --azure: #0290ff;
  --black-two: #121212;
  --medium-blue: #307bbe;
  --dodger-blue: #379cf6;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.robotoSlab {
  font-family: 'Roboto Slab', serif;
}

.black_two {
  color: var(--black-two);
}

.bg_azure {
  background-color: var(--azure);
}

.azure {
  color: var(--azure);
}

.Bookstore-CMS {
  font-family: Montserrat;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

/* progress bar */

/* stylelint-enable */
